run = "./main.sh"

modules = ["nodejs-18"]

[env]
NODE_ENV = "production"

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm ci && npm run build:quick && npx serve -s dist -p 3000"]
deploymentTarget = "static"
publicDir = "dist"

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"