modules = ["nodejs-20", "web"]

hidden = [".config", "package-lock.json", "node_modules"]

[env]
NODE_ENV = "production"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
deploymentTarget = "autoscaling"
build = ["sh", "-c", "npm ci --production && npm run build:quick"]
run = ["npx", "serve", "-s", "dist", "-p", "3000"]

[[ports]]
localPort = 3000
externalPort = 80

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = true
packageSearch = true
guessImports = true